body{
    padding: 0;
    margin: 0;
}
 /*-------------- navbar section start -------------*/
#header{
    background: url(/images/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 655px;
}
#header .menu-bar{
     position: relative;
     z-index: 2;
   
}
.nav-item .nav-link{
    color: white;
    font-weight: 400;
}
#header .header-detail{
    text-align: center;
    padding-top: 200px;
    position: relative;
    z-index: 1;
}
#header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(99, 99, 99);
    min-height: 655px;
    opacity: .5;
}
#header .header-detail .first-para p{
    color: white;
    font-weight: 700;
    font-size: smaller;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
}
#header .header-detail .second-para p{
    font-size: 48px;
    color: white;
    font-family: 'Playfair Display', serif;
}
#header .header-detail .second-para span{
    font-style: italic;
    font-family: 'Playfair Display', serif;
}
#header .header-detail .btn{
    margin: 80px 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
}
#header .header-detail .btn:hover{
    border: 1px solid wheat;
}

svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    color: white;
}
 /*-------------- navbar section end-------------*/

 /*-------------- about section start------------*/


 #about .about-section{
    margin-top: 100px;
    text-align: center;
 }
 #about .about-section .about-text{
    padding: 40px 0px;
 }
 #about .about-section h1{
    font-family: 'Playfair Display', serif;
 }
 #about .about-section .about-text p{
    font-family: 'Work Sans', sans-serif;
 }
/*-------------- about section end-------------*/

/*-------------- detail section start-------------*/
#detail{
    margin-top: 100px;
    background: url(/images/pattern-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

#detail .info{
    justify-content: center;
    display: flex;
    padding-top: 122px;
}
#detail .info .icon{
    font-size: 40px;
    margin-right: 20px;
}
#detail .info p{
    padding: 0px;
    text-transform: uppercase;
}
/*-------------- detail section end-------------*/

/*-------------- project section start-------------*/
#project{
    margin-top: 94px;
}
#project .col-lg-12{
    text-align: center;
}
#project .col-lg-12 p{
    padding: 30px 0;
}
#project .col-lg-4{
   text-align: center;
}

#project .col-lg-4 .opacity .project-text{
    text-align: center;
    font-weight: 600;
}
#project .col-lg-4 .opacity .project-text p{
    text-transform: uppercase;
}

#project .product{
    padding-top: 60px;
}

#project .product-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 50px;
    gap: 15px;
}

#project .product-images .product-imgage{
    position: relative;
    top: 0;
    left: 0;
}

#project .product-images .product-imgage img{
    width: 100%;
}

#project .product-images .product-imgage .opacity{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background-color: rgba(235, 235, 235, 0.699);
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#project .product-images .product-imgage .opacity .product-text{
    position: absolute;
    top: 30%;
    left: 25%;
}


#project .product-images .product-imgage:hover .opacity{
    opacity: 0.8;
}

#project .product-images .opacity{
    text-align: center;
}
/*-------------- project section end-------------*/

/*---------- feedback section start -----------*/
#feedback{
    margin-top: 100px;
    background: url(/images/pattern-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.slide{
    width: 100%;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 200px;
}
.slide P{
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}
#feedback .swiper .swiper-wrapper .slide span{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}
.swiper-pagination-bullet{
    background: rgb(24, 21, 21);
}
.swiper-pagination1-bullet{
    background: black;
}

/*------------ feedback section end -------------*/


/* <!------------ company section start-----------> */
#company-logo{
    margin: 62px 0;
}
#company-logo .col-lg-2{
    text-align: center;
}
/* <!------------ company section end-----------> */



/*---------- blog section start ---------------*/

#blog{
    background-color: rgb(246, 246, 246);
    padding: 100px 0px;
}
#blog h1{
    font-family: 'Playfair Display', serif;
}
#blog p{
    font-family: 'Work Sans', sans-serif;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
}
#blog .swiper1{
    overflow: hidden;
}
.swiper1{
    text-align: center;
}
#blog .blogs .blog1 h4, strong, p{
    text-align: left;
}
#blog .blogs .blog1{
    padding-bottom: 30px;
    box-shadow: 5px 5px 15px gray;
}
#blog .blogs .blog1 img{
    width: 100%;
}
#blog .blogs .blog1 h4{
    padding: 30px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
#blog .blogs .blog1 strong, p{
    padding: 30px;
    font-family: 'Work Sans', sans-serif;
}
#blog .blogs{
    width: 100%;
}
/*------------ blog section end ---------------*/


/* <!------------ contact section start-----------> */
#contact{
    padding: 100px 0;
    background-color: rgb(246, 246, 246);
}
#contact .contact-info span{
    font-size: 38px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
#contact .contact-info .contact-text{
    padding: 30px 0px;
}
#contact .contact-info .address .address-detail{
    display: flex;
}
#contact .contact-info .address .address-detail p{
    padding-left: 10px;
}
#contact .name-email{
    display: flex;
}
#contact .name-email input{
    padding: 20px;
}
#contact .name-email .input-email{
    margin-left: 20px;
}
#contact .title input{
    padding: 20px;
}
#contact .col-lg-6 button{
    margin-top: 20px;
    background-color: black;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
}

#contact .col-lg-6 button:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}
/* <!------------ contact section end-----------> */


/* <!------------ footer section start-----------> */
footer{
    margin: 0;
    padding: 0;
}

#footer{
    background-color: black;
}
#footer .footer-detail{
    padding-top: 100px;
    padding-bottom: 86px;
}
#footer .footer-detail .col-lg-4 h4{
    font-family: 'Playfair Display', serif;
}
#footer .footer-detail .col-lg-4 p{
    padding: 25px 0px;
}
#footer .footer-detail .smm-icon a{
    padding: 0 10px 0 0;
}
#footer .footer-detail .col-lg-4 .twits{
    display: flex;
}

#footer .footer-detail .col-lg-4 .twits a{
    padding-top: 25px;
}

#footer .footer-detail .col-lg-4 .twits p{
    margin-left: 20px;
    font-family: 'Work Sans', sans-serif;
}
#footer .footer-detail .col-lg-4 .instagram{
    padding-top: 25px;
}
.instagram-pic .col-lg-3{
    margin-bottom: 20px;
}
.instagram-pic .col-lg-3 img{
    width: 100%;
}

#footer .copywrite p{
    padding: 30px;
    margin: 0;
}

/* <!------------footer section end-----------> */


